@model FatecLibrary.Web.Models.Entities.PublishingViewModel

<h3>Deletar Editora</h3>
<h4>Tem certeza que deseja apagar a editora?</h4>
<div>

    <div class="container">
        <dl class="row">

            <div class="row">
                <p class="col-sm-2 bg-black d-flex align-items-center justify-content-center text-white rounded">
                    Nome da Editora
                </p>
                <p class="col-sm-2 bg-light bg-gradient shadow d-flex align-items-center justify-content-center text-black rounded">
                    @Html.DisplayFor(model => model.Name)
                </p>
            </div>
            <form asp-action="DeletePublishing">
                <input type="hidden" asp-for="Id" />
                <div class="form-group" style="padding-top: 10px">
                    <button type="submit" value="Delete" class="btn btn-danger" />
                    <span class="fas fa-trash-alt"></span>
                    </button>
                    <a asp-action="Index" class="btn btn-primary bg-gradient">Voltar</a>
                </div>
            </form>
        </dl>
    </div>
</div>