@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center flex-row">
    <h1 class="display-4">Seja bem vindo ao Fatec Library</h1>
    <img src="https://cdn-icons-png.flaticon.com/512/3145/3145765.png" class="img-flui" />
</div>
