#form{
    margin-top: 10vw;
    border-radius: 10px;
    margin-left: 5vw;
    margin-right: 5vw;
}

.form{
    margin-top: 2vw;
    margin-left: 5vw;
    margin-bottom: 2vw;
}

.form .dissertativa input{
  width: 80vw;
  height: 8vw;
}

.checkbox{
    margin-top: 3vw;
}

.checkbox div{
    margin-bottom: 2vw;
}




